:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 230; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
}

body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 5s all ease;
}

button {
  outline: none;
  border: none;
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}

.service_container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px auto;
}

.border {
  width: 100%;
  height: max-content;
}
.service_title {
  background-color: var(--first-color);
  width: 100%;
  text-align: center;
  color: white;
  margin: 0 auto 15px auto;
  /* padding: 0px auto; */
}

button:hover {
  background-color: var(--first-color-alt);
}

.button__icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

.view_more_btn {
  display: none;
}

.plan {
  display: flex;
  grid-area: 20px;
  height: 50vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service_wrapper {
  width: 100%;
  padding: 0 20px;
  transition: all 2s ease;
}

.plan_container {
  position: relative;
  display: flex;
  width: 90%;
  background-color: var(--first-color-second);
}

.plan_modal {
  visibility: hidden;
}

.plan_wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 20;
}

.plan__modal-close {
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
}

/* Active Modal */
.active-modal {
  opacity: 1;
  visibility: visible;
}

.modal_title {
  padding-left: 10px;
  color: white;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  /* padding: 10px; */
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

/* Plan Destop View */
.plan_destop_view {
  width: 100%;
}

.plan_desktop_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.plan_wrapper_desktop {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  border: solid 1px gray;
  border-radius: 10px;
  height: 15rem;
}

/* For small devices */
@media screen and (max-width: 768px) {
  .view_more_btn {
    display: block;
    margin: 20px;
  }

  .plan_destop_view {
    display: none;
  }

  .service_container {
    border: solid 1px grey;
    border-radius: 0 0 10px 10px;
  }
  /* .service_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */
}
